css body {
  background-color: #a3a3a3;
  background-image: url("../static/images/pattern.png");
  background-size: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 960px;
  height: 660px;
  margin: 100px auto;
  position: relative;
}
.bookdot {
  position: absolute;
  border-radius: 9px;
  border: 2px dashed white;
  right: 14px;
  bottom: 14px;
  width: 928px;
  height: 628px;
}
.page {
  position: absolute;
  border-radius: 9px;
  background-color: white;
  right: 10px;
  bottom: 10px;
  width: 908px;
  height: 608px;
}
